<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/quiz.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/demo/demo.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../assets/js/function.js"></script> 

    <title>JS Quiz</title>

</head>
<body>
    <!-- <div class="quizContainer container-fluid well well-lg">
        <div id="quiz1" class="text-center"><span id="iTimeShow">Time Remaining: </span><br/><span id='timer' style="font-size:25px;"></span></h4>
		</div>
		
        <div class="question"></div>
        <ul class="choiceList"></ul>
        <div class="quizMessage"></div>
        <div class="result"></div>
		<button class="preButton">Previous Question</button>
        <button class="nextButton">Next Question</button>
    </div> -->

    <div class="content">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <div class="card ">
              <div class="card-body ">
                <div class="quizContainer well-lg content-center">
                    <div id="quiz1" class="text-center"><span id="iTimeShow" style="font-weight: bold; font-size: 20px;">Time Remaining: </span><br/><span id='timer' style="font-size:25px; color:#FF0000;"></span></h4>
                    </div>
                    
                    <div class="question"></div>
                    <ul class="choiceList"></ul>
                    <div class="quizMessage"></div>
                    <div class="result"></div>
                    <button type="button" class="preButton btn btn-secondary">Previous Question</button>
                    <button type="button" class="nextButton btn btn-primary">Next Question</button>
                    <!-- <button class="preButton btn-warning">Previous Question</button> -->
                </div>
            </div>
          </div>
        </div>
      </div>
    
</body>
</html>